@import "bootstrap";
.center {
	text-align: center;
}
footer {
	margin-top: 5%;
	border-top: 1px solid #eaeaea;
	ul{
		list-style: none;
		float: right;
		li{
			float: left;
		}
	}
	small{
		float: left;
	}
}
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}